{% block html %}	<!DOCTYPE html>
<!doctype html>	
<html {% block html_tag_attributes %}{% endblock %}>	<html lang="en">
    <head>	  <head>
        {% block head %}
            <meta charset="utf-8">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Django-rest-auth demo">
            <meta name="author" content="Tivix, Inc.">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

            <title>Open DP App</title>
        {% endblock %}	    <title>Open DP App</title>
    </head>	
    <body {% block body_tag_attributes %}{% endblock %}>	    <!-- Latest compiled and minified CSS -->
        {% block body %}	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            {% block content %}{% endblock %}	
        {% endblock %}	    <!-- Optional theme -->
    </body>
</html>
{%  endblock %}