{%  extends "dataverses/test_base.html" %}

{% block main_content %}

 <div class="card shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">(1) Incoming Params from GET request</h4>
      </div>
      <div class="card-body">
        {% if manifest_param_error %}
            <div class="alert alert-danger" role="alert">
                {{ manifest_param_error }}
            </div>
        {% else %}
            <span class="badge badge-success">Success</span>
        {% endif %}
        {% if incoming_params %}
          <table class="table table-bordered table-condensed table-sm">
          {% for kv_pair in incoming_params %}
              <tr>
                  <th>{{ kv_pair.0 }}</th>
                  <td>{{ kv_pair.1 }}</td>
              </tr>
          {% endfor %}
          </table>
        {% endif %}
      </div>
  </div>
    <br /><br />
    <div class="card shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">(2) User Info from Dataverse API</h4>
          </div>
          <div class="card-body">
            {% if not user_info.success %}
                <div class="alert alert-danger" role="alert">
                    {{ user_info.message }}
                </div>
            {% endif %}
            {% if user_info.success %}
            <span class="badge badge-success">Success</span>
            <br />
              <textarea cols="80" rows="8">{{ user_info.data }}</textarea>
            {% endif %}
          </div>
      </div>

    <br /><br />
    <div class="card shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">(3) Dataset Schema Info</h4>
          </div>
          <div class="card-body">
            {% if not schema_info.success %}
                <div class="alert alert-danger" role="alert">
                    {{ schema_info.message }}
                </div>
            {% endif %}
            {% if schema_info.success %}
            <span class="badge badge-success">Success</span>
            <br />
              <textarea cols="80" rows="8">{{ schema_info.data }}</textarea>
            {% endif %}
          </div>
      </div>
{% endblock %}
